<div data-ng-show="refreshStop" >
    <h3>Please <a href="/?#!/login">Re-login </a> to continue.</h3>
  </div>
   
<div class="" style="" data-ng-init="addinit()"  data-ng-show="!refreshStop"
>
    
    <form action="" style="" data-ng-submit="addAssignee()" style="height:1000px;">
        <h3> Assignee Register </h3><hr>

        Name : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="assignee_form.name" required
        /><br/>
        Username : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="assignee_form.username" required
        /><br/>
        Password : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="assignee_form.password" required
        /><br/> <br>
        Task : <br>
        <textarea name="" id="" cols="30" rows="5" ng-model="assignee_form.task"  ></textarea>
         
        
        <br/><br><br><br>
       
       <button type="submit" class="btn btn-success" > Add </button>
       <a href="/?#!/assignees"><button type="button" style="margin-left:10px;" class="btn tbn-red"  > Cancel </button></a> 
        <span>{{wrongpass}}</span>
    </form>
    
    
</div>