<div data-ng-show="refreshStop" >
    <h2>Please <a href="/?#!/login">Re-login </a> to continue.</h2>
  </div>
   
<div data-ng-init="retriveAssignees()" data-ng-show="!refreshStop" >
    <a href="/?#!/addAssignee"><button class="btn btn-success">Add Assignee</button></a> <br>
    <div data-ng-if="showLoading">
            <div class="loader"></div>
            <!-- <style>
                .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    border-bottom: 16px solid blue;
    margin-left: 45%;
    width: 60px;
    margin-top: 100px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
            </style> -->
            <img src="../loader.gif" alt="" style="height:100px;margin-left: 40%;margin-top: 10%;margin-bottom: 20%;">
    </div>
    <table style="width:100%;font-weight: 500;" data-ng-if="!showLoading" >
        <thead style="width:100%;">
            <th>Sl No.</th>
            <th>
                Name
            </th>
            <th>Username</th>
            <th>Password</th>
            <th>Assigned by</th>
            <th>Task</th>
        </thead>
        <tbody style="width:100%;">
            <tr data-ng-repeat="a in ass" >
                <td>{{$index +1}}</td>
                <td>{{a.name}}</td>
                <td>{{a.username}}</td>
                <td>{{a.password}}</td>
                <td>{{a.master}}</td>
                <td>{{a.task}}</td>
                <td>
                    <button class="btn btn-danger" style="padding:2px;font-size:10px;" data-ng-click="removeAss(a.username)" >Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

