<div class="" style="" data-ng-init="addinit()" 
>
    
    <form action="" style="" data-ng-submit="addAssignee()" style="height:1000px;">
        <h3> Assignee Register </h3><hr>

        Name : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="assignee_form.name" 
        /><br/>
        Username : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="assignee_form.username" 
        /><br/>
        Password : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="assignee_form.password" 
        /><br/><br><br><br>
       
       <button type="submit" class="btn btn-success" > Add </button>
       <a href="/?#!/assignees"><button type="button" style="margin-left:10px;" class="btn tbn-red"  > Cancel </button></a> 
        <span>{{wrongpass}}</span>
    </form>
    
    
</div>