<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.7/c3.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.7/c3.js"></script>

<div class="container" data-ng-init="fetchSchedules();defaultDistances();">
    <div class="row" >
        <div class="col-md-6" style="border-right:4px solid #f5f5f5;height:1000px;overflow-y: auto;"  >
            <div data-ng-if="showLoading1">
                <div class="loader"></div>
                <style>
                    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        border-bottom: 16px solid blue;
        margin-left: 45%;
        width: 60px;
        margin-top: 100px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }
        
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
                </style>
        </div>
            <!-- <h3>Details Of the Upcoming Ship</h3> -->
            <div id="display" style="border:2px solid #352c2c;border-radius: 10px;margin-right: 5%;margin-bottom: 20px;padding-top: 10px;padding-bottom: 20px;" 
            data-ng-repeat="sc in sched" data-ng-click="fetchSchDetails(sc.consignmentid)" >

                <h4 style="text-align:center">Schedule {{$index + 1}}</h4><hr/>
                <p><b >Consignment Id: </b> {{sc.consignmentid}}
                <b style="margin-left:40px;">Indent Commodity: </b> {{sc.indentcomm}}</p>
                <p><b >Indent Type Of Train: </b>  {{sc.indenttrain}}
                <b style="margin-left:40px;">Indent Number of Wagons: </b> {{sc.indentwagon}}</p>
                <p><b >Source Station Code: </b> {{sc.srcstncode}}
                <b style="margin-left:40px;">Destination Station Code :</b> {{sc.deststncode}}</p> 
              </div>

        </div>


        <div class="col-md-6">
            <div style="height:33%;border-bottom:4px solid #f5f5f5"  >
                    <div data-ng-if="showLoading1">
                            <div class="loader"></div>
                            <style>
                                .loader {
                    border: 16px solid #f3f3f3; /* Light grey */
                    border-top: 16px solid #3498db; /* Blue */
                    border-radius: 50%;
                    border-bottom: 16px solid blue;
                    margin-left: 45%;
                    width: 60px;
                    margin-top: 100px;
                    height: 60px;
                    -webkit-animation: spin 2s linear infinite;
                      animation: spin 2s linear infinite;
                    }
                    
                    @-webkit-keyframes spin {
                      0% { -webkit-transform: rotate(0deg); }
                      100% { -webkit-transform: rotate(360deg); }
                    }
                    
                    @keyframes spin {
                      0% { transform: rotate(0deg); }
                      100% { transform: rotate(360deg); }
                    }
                            </style>
                    </div>
                
                <div id= "display" data-ng-repeat="d in distances" style="overflow-y:auto; font-size: 12px;" >
                    {{d.station1}} <sup>( {{d.station1Type}} )</sup> m 
                    to {{d.station2}} <sup>( {{d.station2Type}} ) </sup> m 
                     distance : {{d.distance}} m
                </div>
            </div>
            <div style="height:33%;border-bottom:4px solid #f5f5f5" >

                <div data-ng-if="showLoading2">
                    <div class="loader"></div>
                    <style>
                        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            border-bottom: 16px solid blue;
            margin-left: 45%;
            width: 60px;
            margin-top: 100px;
            height: 60px;
            -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
            }
            
            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }
            
            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
                    </style>
            </div>

            <div data-ng-if="!showNone" ><p><b style="color: blue;">User Registration Time:</b>  {{sc.userregtime.substr(0,25)}} </p>
               <p><b style="color: blue;">Username: </b> {{sc.username}}</p>
                <p><b style="color: blue;">Source Station Code: </b> {{sc.srcstncode}}</p>
                <p><b style="color: blue;">Source Departure Time: </b> {{sc.srcdeptime.substr(0,25)}}</p> 
                <p><b style="color: blue;">Distance Travelled: </b>  {{sc.disttravel}}</p>
                <p><b style="color: blue;">Destination Arrival Time :</b> {{sc.destarrivaltime.substr(0,25)}}</p> 
                <p><b style="color: blue;">Unload Start Time : </b> {{sc.unload_strt_time.substr(0,25)}}</p>
                <p><b style="color: blue;">Unload End Time :</b> {{sc.unload_end_time.substr(0,25)}}</p><br></div>
            

            </div>

            <div id="chart">
                <canvas id="LineChart">
                    
                </canvas>
            </div>
        </div>
    </div>
</div>
<style>
    p{
        padding-left: 20px;
        margin: 0px;
    }
    sup{
        color: blue;
    }
    
</style>

<!-- <script>
        var chart = c3.generate({
            bindto: '#chart',
            data: {
              columns: [
                ['data1', 30, 200, 100, 400, 150, 250],
                ['data2', 50, 20, 10, 40, 15, 25]
              ]
            }
        });
    
</script> -->

<script>
var ctx = document.getElementById("LineChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>