<div class="" style="margin-top: 10%;text-align: center;"
>
    
    <form action="" style="border:2px solid pink;padding: 20px;margin-left: 20%;margin-right: 20%;
    border-radius: 20px;" data-ng-submit="schedule_form" >
        <h3>Enter the schedule details of the ship </h3><hr>

        Consignment Id : <input type="number" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="schedule_form.consignmentid" 
        /><br/><br/>
        User Indent Reg. Time : <input type="datetime-local" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="schedule_form.userregtime" 
        /><br/><br/>
        Indent Commodity :<select ng-model="schedule_form.indentcomm">
            <option value="CONT">CONT</option>
            </select><br/><br/>
        Indent Type Of Train : <select ng-model="schedule_form.indentcomm">
            <option value="CONT">CONT</option>
            </select><br/><br/>
        Indent No. Of Wagons : <input type="number" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="schedule_form.indentwagon" 
        /><br/><br/>
        Source Station Code : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="schedule_form.srcstncode" 
        /><br/><br/>
        Source Departure Time : <input type="datetime-local" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="schedule_form.srcdeptime" 
        /><br/><br/>
        Distance Travelled : <input type="number" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="schedule_form.disttravel"
        /><br/><br/>
        Dest. Station Code : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="schedule_form.deststncode"
        /><br/><br/>
        Dest. Arrival Time : <input type="datetime-local" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="schedule_form.destarrivaltime"
        /><br/><br/>

        Unloading Start Time : <input type="datetime-local" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="schedule_form.unload_strt_time"
        /><br/><br/>

        Unloading End Time : <input type="datetime-local" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="schedule_form.unload_end_time"
        /><br/><br/>
        
        <input type="submit" class="btn btn-primary" /><br/><br>
       
        
    </form>
    
    
</div>