<div class="" style="margin-top: 10%;text-align:left;"
>
    
    <form action="" style="border:2px solid pink;padding: 20px;margin-left: 20%;margin-right: 20%;
    border-radius: 20px; text-align:center;" data-ng-submit="submitSignUP()" >
        <h3>Administrator Port SignUp </h3><hr>

        Username : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="signup.username" 
        /><br/><br/>
        Password : <input type="password" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.password"
        /><br/><br/>
        Email : <input type="email" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.email"
        /><br/><br/>
        Mobile : <input type="number" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.mobile"
        /><br/><br/>
        
        <select class="form-control" id="port" data-ng-model="signup.port" style="width: 300px;margin-left: 30%;" >
            <option value="Chenni port" >Chenni port</option>
            <option value="Jawaharlal Nehru Port,Mumbai">Jawaharlal Nehru Port,Mumbai</option>
            <option value="Kandla Port,Gujarat">Kandla Port,Gujarat</option>
            <option value="Kochi Port,Kerala">Kochi Port,Kerala</option>
            <option value="Kolkata Port">Kolkata Port</option>
            <option value="Krishnapatnam Port,Andhra Pradesh">Krishnapatnam Port,Andhra Pradesh</option>
            <option value="Mangalore Port">Mangalore Port</option>
            <option value="Mormagao Port">Mormagao Port</option>
            <option value="Mumbai Port">Mumbai Port</option>
            <option value="Paradip Port,Odisha">Paradip Port,Odisha</option>
            <option value="Visakapatnam Port">Visakapatnam Port</option>
        </select><br/>
        <input type="submit" class="btn btn-primary" /><a href="/?#!/">
            <button class="btn btn-danger" style="margin-left:20px;" >Back</button>
    </a> 
        {{resultShow}}
        
    </form>
    
    
</div>